body
{
    background-color:#333333;
    font-family: 'Libre Franklin', sans-serif;
    color: #e6e6e6;
}


.css-input
{
    padding:10px;
    font-size:17px;
    border-width:2px;
    border-radius:3px;
    border-style:solid;
    background-color:#454545;
    color:#d4d4d4;
    border-color:#7d7d7d;
    margin-top: 4px;
}
.css-input:focus { outline:none; }

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ff944d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-borded: 1px solid black;
  font-size: 20px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.resultList
{
    float: left;
}

.container
{
    float: left;
}

.dodawanie
{
    margin: 30px;
    padding: 10px;
    background-color: #222222;
    height: 250 px;
}
.szukanie
{
    margin: 30px;
    padding: 10px;
    background-color: #222222;

}

.tabela
{
    margin: 30px;
    padding: 10px;
    background-color: #222222;
    float: left;
}

table
{
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
}
td,th
{
     border: 2px solid #8c8c8c;
     height: 30px;
     text-align: center;
     background-color:#4d4d4d;
}

.showAdded
{
    color: #ff944d;
    margin: 3px;
    padding: 5px;
    font-size: 120%;
}
