<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head lang="pl">
    <meta charset="UTF-8"></meta>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet" />
    <title>Menu</title>
</head>

<body>

    <div class="showAdded" th:if="${showAdded == true}">
        <span>Dodano:  </span>
        <span th:text="${addedName} + ' | ' + ${addedAmount} + ' | ' + ${addedDate}"> Lol2 </span>
    </div>
 <div class="container">
    <div class="dodawanie">
        <span>Dodaj:</span>
        <form action="postAdd" method="post">
            <input class="css-input" id="name" name ="name" type="text" value="Nazwa" />
            <input class="css-input" id="amount" name ="amount" type="text" value="Ilość" />
            <!--<input class="css-input" id="date" name ="date" type="text"  />-->

                <input id="date" type="date" name="date" /> <br /> <br />
                <div class="checkbox">
                    <label>PVC</label>
                    <input name ="PVC" type="checkbox" /> <br />
                </div>
                <div class="checkbox">
                    <label>Silikon</label>
                    <input name ="Silicon" type="checkbox" /> <br />
                </div>
                <div class="checkbox">
                    <label>Teflon</label>
                    <input class="css-checkbox" id="Teflon" name ="Teflon" type="checkbox" /> <br />
                </div>
                <div class="checkbox" >
                    <label class="css-label">Ekran</label>
                    <input class="css-checkbox" id="Ekran" name ="Ekran" type="checkbox" /> <br />  <br />
                </div>

            <button class="button" style="vertical-align:middle" type="submit"><span> Dodaj</span> </button>
        </form>
    </div>
    <div class="szukanie">
        <span>Wyszukaj:</span>
        <form action="postSearch" method="post">
            <input class="css-input" id="name" name ="name" type="text" value="" /> <br /> <br />
            <label class="css-label">PVC</label>
            <input class="css-checkbox" id="PVC" name ="PVC" type="checkbox" /> <br />

            <label class="css-label">Silikon</label>
            <input class="css-checkbox" id="Silicon" name ="Silicon" type="checkbox" /> <br />

            <label class="css-label">Teflon</label>
            <input class="css-checkbox" id="Teflon" name ="Teflon" type="checkbox" /> <br />

            <label class="css-label">Ekran</label>
            <input class="css-checkbox" id="Ekran" name ="Ekran" type="checkbox" /> <br />
            <br />
            <button class="button" style="vertical-align:middle" type="submit"><span> Szukaj</span> </button>

        </form>


        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Wyloguj" class="button"/>
        </form>

        <div class="resultList" th:if="${showAwesomeList == true}">
            <div th:if="${!(list.isEmpty())}">
                <span style="font-size: 150%"></span>
            </div>
        </div>
    </div>
</div>

<div class="tabela">
    <table>

        <tbody>
        <tr>

            <th>Id</th>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Data</th>

        </tr>

        <th:block th:object="${list}" th:each="produkt : ${list}">
            <tr>
                <td th:text="${produkt.id}">1</td>
                <td th:text="${produkt.fullName}">Tabela</td>
                <td th:text="${produkt.amount}">Ilość</td>
                <td th:text="${produkt.data}">Data</td>
                <td>
                    <form action="/delete" method="post" >
                        <input id="id" name ="id" type="hidden" th:value="${produkt.id}" />
                        <input id="SQL" name ="SQL" type="hidden" th:value="${SQL}" />
                        <button type="submit" > <img src="https://image.freepik.com/free-icon/delete-hand-drawn-cross-symbol-outline_318-52032.jpg" style="width: 10px;" /> </button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>