<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8"></meta>
    <title>Titleeeeeeeeeeee</title>
</head>
<body>
<div th:if="${list.isEmpty()}">
    <span style="font-size: 150%">"Brak wyników wyszukiwania"</span>
</div>

<!--<span th:text="'Nazwa: '+ ${name}"> Lol2 </span> <br />-->
</body>
</html>